#content{
  width: 1024px;
  margin: auto;
}
#content ul li button{
  width: 25%;
  margin: 11%;
  padding: 30px;
  font-size: 20px;
  border-radius: 5px;
}
#select_game{
  
}
#select_learn{
  
}
.indent{
	padding-left: 50px;
}
.about{
	font-size: 16pt;
}
#about_img{
	margin: 0 120px;
}